<div>
  <button class="btn button-save">Save</button>
  <button class="btn button-cancel">Cancel</button>
  <button class="btn button-help">Help</button>
</div>

<div class="mt-2">
  <button class="btn button-1">Button 1</button>
  <button class="btn button-2">Button 2</button>
  <button class="btn button-3">Button 3</button>
  <button class="btn button-4">Button 4</button>
  <button class="btn button-5">Button 5</button>
</div>

<div class="mt-2 btn-bootstrap">
  <button class="btn btn-primary">Primary</button>
  <button class="btn btn-danger">Danger</button>
</div>
