<div class="container-fluid theme-{{currentTheme}}">
  <div class="row">
    <div class="col-auto left-menu">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="#">
              Sass Demo
            </a>
          </li>
          <li>
            <a routerLink="/sass-demo/variables" routerLinkActive="active">Variables</a>
          </li>
          <li>
            <a routerLink="/sass-demo/directives" routerLinkActive="active">Directives</a>
          </li>
          <!--<li>-->
            <!--<a routerLink="/sass-demo/selection" routerLinkActive="active">Selection</a>-->
          <!--</li>-->
          <li>
            <a routerLink="/sass-demo/mixins" routerLinkActive="active">Mixins</a>
          </li>
          <li>
            <a routerLink="/sass-demo/functions" routerLinkActive="active">Functions</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-auto context-menu">
      <div class="row flex-row-reverse">
        <div class="col-6 text-right">
          <div class="my-select">
            <select [(ngModel)]="currentTheme">
              <option value="fairexchange">fairexchange</option>
              <option value="taj88">taj88</option>
              <option value="satport">satport</option>
              <option value="bodog">bodog</option>
            </select>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

