@import "../../themes/themify";
@import "../../themes/themes";

.left-menu{
  flex-basis: 250px;
  .sidebar-nav {
    color: #fff;
    .sidebar-em &{
      color: #000;
    }
  }
  #sidebar-wrapper {
    width: 250px;
    @include themify($themes) {
      background-color: themed('bg-exchange');
    }
    .sidebar-nav li a{
      @include themify($themes) {
        color: themed('text-leftmenu');
      }
    }
  }
}

.context-menu{
  flex:1;
  overflow: hidden;
}