<br/>
<p class="p1">
  Bước tới Đèo Ngang, bóng xế tà,
  Cỏ cây chen đá, lá chen hoa.
  Lom khom dưới núi, tiều vài chú
  Lác đác bên sông, chợ mấy nhà.*
  Nhớ nước đau lòng, con quốc quốc,
  Thương nhà mỏi miệng, cái gia gia.
  Dừng chân đứng lại trời, non, nước,
  Một mảnh tình riêng, ta với ta.
</p>

<p class="p2">
  Em trở về đúng nghĩa trái tim
  Biết làm sống những hồng cầu đã chết
  Biết lấy lại những gì đã mất
  Biết rút gần khoảng cách của yêu tin

  Em trở về đúng nghĩa trái-tim-em
  Biết khao khát những điều anh mơ ước
  Biết xúc động qua nhiều nhận thức
  Biết yêu anh và biết được anh yêu
</p>