/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "fontawesome/fontawesome";
@import "fontawesome/fa-solid";
@import "fontawesome/fa-brands";
@import "fontawesome/fa-regular";
@import "icomoon/style";

body{
  background-color: #dfdfdf;
}

@font-face {
  font-family: Roboto Slab;
  src: local('Roboto Slab'),url(/assets/fonts/RobotoSlab-Regular.ttf) format('truetype'),url(/assets/fonts/RobotoSlab-Bold.ttf) format('truetype');
}

.inplay-text{
  color: #090!important;
  font-weight: bold;
}